@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5EFE6; /* os */
  --foreground: #0B3D2E; /* minuit */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

